<html>
<nav class="navbar navbar-custom">
  <a class="navbar-brand" href="#">
    <span class="navbar-text">Card Game App</span></a>
    <div class="buttons">
      <div>
        <% include login %>
      </div>
      <div>
        <% include register %>
      </div>
      <div>
        <% include register %>
      </div>
      <div>
        <% include loadGame %>
      </div>
      <div>
        <% include gameHistory %>
      </div>

    </div>
</nav>
</html>