  <html>
  <nav class="navbar navbar-custom">
    <a class="navbar-brand" href="#">
      <span class="navbar-text">Card Game App</span></a>
      <button id="btn" type="button" class="btn btn-info ml-auto" data-toggle="modal" data-target="#Login">Login</button>
      <button id="btn" type="button" class="btn btn-info" data-toggle="modal" data-target="#registration">Register</button>
      <form method="get" action='/'>
        <input id="btn" type="submit" class="btn btn-info" value="Home">
      </form>
      <div id="Login" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div id="Login" class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Login</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <label for="email">Email:</label>
              <input class="email" type="email" placeholder="example@example.com">
              <label for="password">Password:</label>
              <input class="password" type="password" placeholder="Password">
            </div>
            <div class="modal-footer">
              <button id="Login" type="button" class="btn btn-default" data-dismiss="modal">Login</button>
            </div>
          </div>
        </div>
      </div>

      <div id="registration" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div id="registration" class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Registration</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <label for="email">Email:</label>
              <input class="email" type="email" placeholder="example@example.com">
              <label for="password">Password:</label>
              <input class="password" type="password" placeholder="Password">
            </div>
            <div class="modal-footer">
              <button id="registration" type="button" class="btn btn-default" data-dismiss="modal">Register</button>
            </div>
          </div>
        </div>
      </div>

  </nav>
  </html>
