<!-- Button trigger modal -->
<button id="home" type="button" class="btn btn-info" data-toggle="modal" data-target="#instructions">
  Instructions
</button>

<!-- Modal -->
<div class="modal fade" id="instructions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">GoofSpiel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <li>
          GoofSpiel is a simple betting based card game
        </li>
        <li>
          Each player is given a deck of cards containing one suit valued from ace to king
        </li>
        <li>
          A single suited deck is used as the 'prize' deck, which the players bet a card from thier deck,
          hoping to out bet their opponent and recieve the points associated with the value of the 'prize' card
          up for grabs.
        </li>
        <li>
          Once all cards from the 'prize' deck have been won, the points are counted and the player with the highest score
          is the winner!!
        </li>
        <li>
          Points for prize cards are: ace, one point, 2, two points, etc., jack 11, queen 12, and king 13 points
        </li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>