<button id="btn" type="button" class="btn btn-info" data-toggle="modal" data-target="#loadGame">Load Game</button>

<div id="loadGame" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div id="loadGame" class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">History</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <li>placeholder<button id="load" type="submit">jump to game</button></li>
        <li>placeholder<button id="load" type="submit">jump to game</button></li>
        <li>placeholder<button id="load" type="submit">jump to game</button></li>
        <li>placeholder<button id="load" type="submit">jump to game</button></li>
        <li>placeholder<button id="load" type="submit">jump to game</button></li>
        <li>placeholder<button id="load" type="submit">jump to game</button></li>
        <li>placeholder<button id="load" type="submit">jump to game</button></li>
        <li>placeholder<button id="load" type="submit">jump to game</button></li>
        <li>placeholder<button id="load" type="submit">jump to game</button></li>
      </div>
      <div class="modal-footer">
        <form method="get" action="/">
          <input id="home" type="submit" value="Home">
        </form>
      </div>
    </div>
  </div>
</div>
</nav>