<!DOCTYPE html>
<html>
<head>
</head>
<body>
let testData = { id: 1, email: 'hi2@hi2.com', password: 'hiPass2', game_id: 1 };

router.get('/dataTest', (req, res) => {
res.send(testData);
res.render('/dataTest');
});
</body>
</html>