<% include partials/head %>
  <% include partials/header %>
  <h1 class="container">Card Game App</h1>
  <form method="get" action="./goofSpiel">
    <input type="submit" value="goofSpiel">
  </form>
<% include partials/footer %>