#Login {
  .modal-header {
    background-color: black;
  }
  .close {
    color: white;
  }
  .modal-title {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 2rem;
  }
  .modal-body {
    #loginEmail {
      width:16rem;
      margin-right:9rem;
    }
    #loginPassword {
      width:14rem;
    }
  }
  .modal-footer {
    background-color: black;
  }
}
