/* HEADER BAR */
.navbar-custom{
  background-color: black;
  height: 5rem;
  padding: 0.25rem 2rem;
}
.navbar-text{
  color:white;
  padding-left: 0.75rem;
  font-size: 2rem;
}
.headImg{
  height: 5rem;
  width: 5rem;
}
.headerRow{
  height: 3rem;
}
/* HEADER BUTTON */
#btn{
  color: black;
  background-color: #aa0101;
  border-color: black;
  margin: .5rem;
  height: 85%;
  width: 8.5rem;
  font-size: 1.5rem;
}
/* importants are used to override bootstrap defualt behaviors */
.btn-info:hover, .btn-outline-primary:active {
  color: black !important;
  background-color: white !important;
  border-color: black !important;
}
.btn-outline-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}

#saved {
  float:right;
  width: 11rem;
  background-color: #aa0101;
  color: black;
  border-color: black;
  height: 85%;
  font-size: 1.5rem;
  margin:.5rem;
}

#home {
    float:right;
  width: 9rem;
  background-color: #aa0101;
  color: black;
  margin: .5rem;
  border-color: black;
  height: 3.4rem;
  font-size: 1.5rem;
}
.buttons {
  display: inline;
}