/* HEADER BAR */
.navbar-custom{
  background-color: black;
  height: 5rem;
  padding: 0.25rem 2rem;
}
.navbar-text{
  color:white;
  padding-left: 0.75rem;
  font-size: 2rem;
}
.headImg{
  height: 5rem;
  width: 5rem;
}
.headerRow{
  height: 3rem;
}
/* HEADER BUTTON */
#btn{
  color: black;
  background-color: #aa0101;
  border-color: black;
  float: right;
  height: 85%;
  width: 8.5rem;
  font-size: 1.4rem;
}
/* importants are used to override bootstrap defualt behaviors */
.btn-info:hover, .btn-outline-primary:active {
  color: black !important;
  background-color: white !important;
  border-color: black !important;
}
.btn-outline-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}