
/* HEADER BUTTON */
#btn{
  color: black;
  background-color: #cecece;
  border-color: black;
  margin: .5rem;
  height: 80%;
  width: 8.5rem;
  font-size: 1rem;
}
/* importants are used to override bootstrap defualt behaviors */
.btn-info:hover, .btn-outline-primary:active {
  color: black !important;
  background-color: white !important;
  border-color: black !important;
}
.btn-outline-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}

#saved {
  width: 11rem;
  background-color: #cecece;
  color: black;
  border-color: black;
  height: 80%;
  font-size: 1rem;
  margin:.5rem;
}

#home {
    float:right;
  width: 9rem;
  background-color: #cecece;
  color: black;
  margin: .5rem;
  border-color: black;
  height: 3.5rem;
  font-size: 1.5rem;
  border-radius: .30rem;
}
